* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

/* Header content */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 24px 60px;
  box-shadow: 10px 5px 50px rgb(231, 231, 231);
}

.navbar ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}

.navbar a {
  text-decoration: none;
  color: rgba(50, 50, 50, 0.927);
  padding: 0.3rem 0.44rem;
  transition: all 0.6s ease;
  font-size: 0.9rem;
}

.navbar .logo {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #1573ff;
  font-size: 25px;
}

.navbar .username-btn {
  font-size: 1.2rem;
  background-color: #4b93ff;
  padding: 0.7rem 1.4rem;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.navbar .username-btn:hover {
  background-color: #2f7ef5;
}

.navbar a {
  position: relative;
}

.navbar a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 3px;
  width: 90%;
  height: 2px;
  background-color: #4b93ff;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

.navbar a:hover::after {
  transform: scaleX(1);
}

@media (max-width: 600px) {
  .navbar {
    padding-bottom: 10px;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }
}

@media (max-width: 350px) {
  .navbar ul {
    flex-wrap: wrap;
    text-align: center;
  }
}

/* Home content starting here */

.home-content {
  width: 100vw;
  height: 75vh;
  align-items: center;
  display: flex;
  justify-content: space-around;
  gap: 20px;
  padding: 0px 20px;
}

.home-content img {
  width: 80%;
  max-width: 500px; /* Prevents image overflow */
}

.text-content h1 {
  font-size: 50px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  line-height: 50px;
}

.text-content p {
  margin-top: 0.5rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-bottom: 1rem;
  color: rgba(3, 0, 0, 0.589);
}

.text-content button {
  padding: 1.2rem 2.5rem;
  border-radius: 10px;
  border: none;
  font-size: 0.9rem;
  font-weight: bold;
  background-color: #3988ff;
  color: white;
  transition: all 0.3s ease-out;
}

.text-content button:hover {
  background-color: #1573ff;
  transform: scale(1.01);
}

.text-content span {
  color: #4b93ff;
}

@media (max-width: 600px) {
  .home-content {
    flex-direction: column;
    height: 100vh;
  }
  .home-content img {
    width: 70%;

    align-items: center;
    align-content: center;
  }
  .home-content {
    text-align: center;
  }
  .text-content h1 {
    font-size: 30px;
  }

  .text-content p {
    font-size: small;
  }
}

/* Achievements Section */

.our-achievements {
  background-color: #4b93ff;
}

.container-achievements {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  align-content: center;
  align-items: center;
  padding: 0px 40px;
  height: 150px;
}

.container-achievements h2 {
  font-size: 1.8rem;
  color: rgb(255, 255, 255);
}

.container-achievements span {
  color: #ffffff;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.container-achievements .heading h2 {
  font-size: 1.7rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.container-achievements div:nth-child(2) {
  border-left: 2px solid rgba(255, 255, 255, 0.422);
}
.container-achievements div:nth-child(3) {
  border-left: 2px solid rgba(255, 255, 255, 0.422);
}
.container-achievements div:nth-child(4) {
  border-left: 2px solid rgba(255, 255, 255, 0.422);
}

@media (max-width: 500px) {
  .container-achievements {
    grid-template-columns: 1fr 1fr;
    padding: 2px;
    gap: 20px;
  }

  .container-achievements div:nth-child(3) {
    border: none;
  }

  .container-achievements div {
    gap: 20px;
  }

  .container-achievements .heading h2 {
    font-size: 1.5rem;
  }
}

/* Service Sections */

.services {
  background-color: #f3f3f3;
  display: grid;
  grid-template-columns: 1.7fr 1fr;
  text-align: center;
  align-content: center;
  align-items: center;
  padding: 50px 90px;
  gap: 20px;
}

@media (max-width: 860px) {
  .services {
    grid-template-columns: 1fr;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 1fr 1fr;
    padding: 20px;
  }
}

.service-container-1 {
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.service-container-2 {
  background-color: white;
  border-radius: 10px;
}

.header-container {
  padding: 30px 20px;
}

.header-container h2 {
  text-align: left;
  font-size: 1.7rem;
  padding: 0px 0px 20px 0px;
}

.header-container p {
  text-align: left;
  border-bottom: 2px solid #55555550;
  height: 60px;
}

.service-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 5px;
  height: 65px;
  font-size: 1.2rem;
  color: #303033be;
}

.cart-btn {
  padding: 19px 45px;
  border: none;
  border-radius: 15px;
  background-color: #9999992d;
  color: black;
  transition: background-color ease 0.6s;
}

.service-item span span {
  color: #4b93ff;
  font-weight: 500;
}

.last-service {
  margin-bottom: 30px;
}

.service-item-container {
  margin-left: 20px;
  margin-right: 20px;
  border-bottom: 2px solid #55555550;
}

.extra-info p {
  padding-top: 20px;
  text-align: left;
  padding-left: 20px;
  color: #3988ff;
  font-size: 1.2rem;
}

.extra-info p span {
  font-size: 1.1rem;
  vertical-align: middle;
}

@media (max-width: 610px) {
  .service-item {
    padding: 0px;
    height: 50px;
    font-size: 1rem;
  }

  .cart-btn {
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    color: rgb(0, 0, 0);
  }
  .services {
    padding: 5px 0px;
  }

  .service-item-container {
    margin: 0 5px;
  }
  .service-item span {
    font-size: 0.7rem;
  }
  .extra-info p {
    padding: 10px 0px 6px 10px;
    font-size: 1rem;
  }
}

/* service container part 2 */

.service-container-2 {
  background-color: #f3f3f3;
  display: grid;
  row-gap: 20px;
}

.cart-part-1 {
  background-color: white;
  border-radius: 10px;
}

.cart-part-1-heading-container {
  padding: 15px 0 15px 0;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.9rem;
}

.cart-part-1-serial-container {
  background-color: #f3f3f3;
  padding: 8px 25px 8px 25px;
  display: flex;
  justify-content: space-between;
}

.service-container-2 .cart {
  min-height: 180px;
  text-align: center;
  align-content: center;
}
.service-container-2 .cart .alert {
  font-size: 4.2rem;
  transform: rotate(180deg);
  color: #303030e0;
}

.service-container-2 .cart h2 {
  font-size: 1.5rem;
  color: #474747;
  padding-bottom: 5px;
}

.service-container-2 .cart p {
  font-weight: 100;
  color: #686868;
  font-family: "Times New Roman", Times, serif;
  font-size: small;
}

.cart-part-1-amount-container {
  padding: 20px;

  display: flex;
  justify-content: space-between;
  border-top: 2px solid #f3f3f3;
}

.cart-part-2 {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  text-align: left;
}

.cart-part-2 h4 {
  font-size: 1.2rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.frm label {
  display: block;
  margin-top: 10px;
  font-size: 0.9rem;
  color: #333030;
}

.frm input {
  width: 100%;
  padding: 13px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 7px;
  font-size: 1rem;
}

.bottom-frm {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.bottom-frm .frm input {
  width: 100%;
}

.frm-btn-con {
  margin: 20px 0 0 0;

  display: flex;
  justify-content: center;
}
.frm-btn {
  width: 50%;
  padding: 20px 30px;
  border-radius: 10px;
  border: none;
  background-color: #2f7ef5;
  color: white;
  transition: all ease 0.6s;
}

.cart-btn:hover,
.frm-btn:hover {
  background-color: #033e96;
  color: white;
}

/* cart styling */

.styled-cart-row {
  border-bottom: 1px solid rgba(128, 128, 128, 0.432);
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  justify-content: space-between;
  text-align: center;
  padding: 15px 20px;
}

.section-aboutus {
  height: 100vh;
  width: 100vw;
}

.support-features img {
  width: 70px;
  height: 70px;
  margin-bottom: 1rem;
}

.support-features h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: #333;
}

.support-features p {
  font-size: 0.95rem;
  color: #666;
}

.support-features {
  padding: 0.8rem;
  text-align: center;
}

.about-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: auto 0px;
  gap: 2rem;
  padding: 0.4rem;
}
@media (max-width: 800px) {
  .about-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 500px) {
  .services {
    padding-bottom: 40px;
  }
  .about-container {
    grid-template-columns: 1fr;
  }
}
.newsletter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 70px;
  background-color: #20aaff;
  gap: 30px;
}

.text-container h1 {
  font-size: 2.5rem;
  color: white;
  margin: 0;
}

.form-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.form-container input {
  padding: 15px 20px;
  border: none;
  background-color: #4bb5f9;
  color: white;
  width: 300px;
  font-size: 1rem;
  border-radius: 5px;
}

.form-container input::placeholder {
  color: white;
  font-size: 1rem;
}

.form-container button {
  padding: 15px 25px;
  width: 300px;
  border: none;
  background-color: #ffffff;
  color: #20aaff;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.form-container button:hover {
  background-color: #e0f4ff;
}

@media (max-width: 600px) {
  .newsletter-container {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }

  .text-container h1 {
    font-size: 2rem;
  }

  .form-container input,
  .form-container button {
    width: 100%;
  }
}

footer {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  justify-content: space-between;
  align-items: start;
  padding: 40px 70px;
  margin: 0 auto;
  gap: 2rem;
  max-width: 1200px;
  text-align: left;
}

footer li {
  color: #333333ec;
  list-style: none;
  margin-top: 5px;
}

footer h3 {
  margin-bottom: 15px;
  font-size: 1.4rem;
}

footer .st p {
  margin-top: 20px;
  width: 90%;
  color: #333333ec;
}

footer .st p span {
  font-weight: bold;
  font-size: 1rem;
  color: black;
}

.s-links {
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-size: 1.6rem;
}

@media (max-width: 1020px) {
  footer {
    grid-template-columns: 3fr 2fr;
    gap: 40px;
    padding: 30px 60px;
  }
}

@media (max-width: 500px) {
  footer {
    grid-template-columns: 1fr;
    padding: 20px;
    gap: 50px;
  }
  footer ul,
  footer p {
    text-align: center;
  }
  footer .s-links {
    justify-content: center;
  }
}

footer li:hover {
  color: #2042da;
  cursor: pointer;
}

footer .fb {
  color: #2042da;
}

footer .tw {
  color: #1da1f2;
}

footer .insta {
  color: #e1306c;
}

footer .git {
  color: #333;
}
